<h2>Example usage path only</h2>
<p>
  If your route does not have path with a primary key and not have <code>dataCallback</code>,
  this can be used, for example, for authorization when you do not need to insert any elements into a specific REST
  resource:
</p>
<pre>
  <code><![CDATA[
class SomeService implements ApiMockService {
  getRoutes(): ApiMockRootRoute[] {
    return [{ path: 'api/login' }];
  }
}
]]></code>
</pre>

<div [formGroup]="form">
  <table>
    <tr>
      <td>login:</td>
      <td><input formControlName="login"></td>
    </tr>
    <tr>
      <td>password:</td>
      <td><input formControlName="password" type="password"></td>
    </tr>
  </table>
  <div>
    <button (click)="login()">OK</button>
    <span style="margin-left: 5px; font-style: italic;">{{ message }}</span>
  </div>
</div>
