<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/login">Login</a></li>
  <li><a routerLink="/heroes">Heroes</a></li>
</ul>

<p>
  On <b>stackblitz.com</b>, this example only works correctly in a new window.
  So, if you are viewing this text in a built-in editor window at <b>stackblitz.com</b>, click the <b>Open in New Window (Live)</b> button at the top.
  Then press <code>Ctrl+Shift+I</code> and see the console.
</p>
<p>
  This component created with
  <a href="https://github.com/KostyaTretyak/angular-example-simple-service/blob/master/src/app/simple.service.ts" target="_blank">SimpleService</a>.
  Each request to "backend" has a delay of one second
  (see <a href="https://github.com/KostyaTretyak/angular-example-simple-service/blob/master/src/environments/environment.ts" target="_blank">environment.ts</a>).
</p>
<hr>
<router-outlet></router-outlet>